/* https://stackoverflow.com/questions/26210839/hide-scrollbars-if-not-necessary-ace-editor */
body .ace_scrollbar {
    -webkit-transition: opacity .3s ease-in-out;
       -moz-transition: opacity .3s ease-in-out;
        -ms-transition: opacity .3s ease-in-out;
         -o-transition: opacity .3s ease-in-out;
            transition: opacity .3s ease-in-out;
    opacity: 0;
}
body .ace_editor .ace_scrollbar:hover {
    opacity: 1;
}
body .ace_editor .ace_gutter-cell.ace_error {
    background-image: url("icons/red_x.png");
    background-repeat: no-repeat;
    background-position: 2px center;
}


.ace_tooltip {
    background-color: #FFF;
    background-image: none;
    border: 1px solid gray;
    border-radius: 1px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    color: black;
    font-family: monospace;
    max-width: 100%;
    padding: 3px 4px;
    position: fixed;
    z-index: 999999;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: default;
    white-space: pre;
    word-wrap: break-word;
    line-height: normal;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    pointer-events: none;
}
