.explorer {
    background-color: #000000;
    font-family: monospace;
    height: 100%;
    overflow-y: overlay;
    overflow-x: hidden;
    padding-left: 8px;
}

.explorer-header {
    background-color: #000000;
    color: #e4e4e4;
    padding: 4px 8px 4px 8px;
    margin-bottom: 0px;
    height: 24px;  /* force this to stay the same hight when icons a not draw */
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-stretch: expanded;
    align-items: center;
}

.explorer-section {
    margin-bottom: 8px;
}

.explorer-tree {
    font: inherit;
}

.section-name {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */      
}

.hidden {
    display: none;
}

.explorer-tree-toggle {
    display: inline-block;
}

.explorer-entry {
    padding: 0.1em;
    color: #bbbbbb;
    margin-left: 3px;
    /* display: block; */
}

.dirty {
    /* color: red; */
    color: rgb(151, 80, 49);
    font-style: italic;
}

.active-buffer {
    background-color: #89b5f14f;
}

.active-selection {
    background-color: #cedcf04f;
}

.explorer-list-item {
    display: flex;
}

.section-name {
    font-size: 110%;
}

.section-tools {
    -webkit-transition: opacity .1s ease-in-out;
    -moz-transition: opacity .1s ease-in-out;
     -ms-transition: opacity .1s ease-in-out;
      -o-transition: opacity .1s ease-in-out;
         transition: opacity .1s ease-in-out;

    opacity: 0;
}

.opaque {
    opacity: 1;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }

.get-name-modal-text-area {
    border: none;
    border-bottom: 1px solid rgb(192, 192, 192);
    resize: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-size: 16px;

}
