.repl {
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 12px;
    line-height: normal;
    font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace;
    background-color: rgb(175, 175, 175);
    /* position: relative; */
    /* user-select: none; */
    display: flex;
    flex-direction: column;
}

.repl-output {
    flex: 1 1 auto;
    background-color: blue;
}

.repl-input {
    flex: 0 0 auto;
    background-color: green;
    height: 60px; /* for testing */
}


