.tool-bar {
    display: flex;
    flex-direction: column;
    background-color: #F4F4F4;
}

.tool-bar-container {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
}