.help-button-menu {
    font-size: 1.5em;
    font-weight: bold;
    color: hsl(0, 0%, 59%);
    text-align: center;
    height: 24px;
    width: 36px;
    padding: 6px;
}

.help-button-popup {
    font-family: monospace !important; 
    background-color: #F4F4F4 !important;
    padding: 6px 6px 6px .4em !important;
    border: 1px solid rgb(130, 130, 130, 0.1) !important;
    border-left: none !important;
    box-shadow: none !important;
    padding-left: .4em !important;
}

.help-button-link, .help-botton-link:visited {
    text-decoration: none;
    color: hsl(0, 0%, 46%);
}

.help-button-link:hover {
    color: hsl(0, 0%, 39%);

}
