/* Add switchable theme vars for light/dark mode */
:root {
  --neutral-background-default: #F4F4F4;
  --neutral-surface-default: #f7f7f7;
  --neutral-surface-selected: #89b5f14f;
  --neutral-subdued-default: #eaeaea;
  --neutral-medium-default: #757575;
  --neutral-base-default: #AFAFAF;
  --neutral-heavy-default: #434351;
  --neutral-trim-default: #DADADA;
  --interactive-medium-default: #979797;
  --interactive-medium-hover: #818181;
  --interactive-medium-selected: #757575;
  --interactive-trim-default: #C5C5C5;
  --interactive-trim-selected: #C5C5C5;
  --interactive-surface-hover: #d3d3d3;
  --critical-medium-default: #975031;
  --accent1-background-default: #DEB887;
  --accent2-background-default: #AD8888;
  --overlay-fill: rgb(120, 120, 120, 0.5);
  --resizer-background-default: rgb(0, 0, 0);
  --resizer-border-default: rgba(0, 0, 0, 0.5);
}

@media (prefers-color-scheme: dark) {
  :root {
    --neutral-background-default: #1D1F21;
    --neutral-surface-default: #25282c;
    --neutral-surface-selected: #4B4231;
    --neutral-subdued-default: #1D2023;
    --neutral-medium-default: #969896;
    --neutral-medium-selected: #fffc9f;
    --neutral-base-default: #2E2E2E;
    --neutral-heavy-default: #AAAAAA;
    --neutral-trim-default: #333333;
    --overlay-fill: rgb(0, 0, 0, 0.5);
    --interactive-medium-default: #666666;
    --interactive-medium-hover: #888888;
    --interactive-medium-selected: #757575;
    --interactive-trim-default: #555555;
    --interactive-trim-selected: #C5C5C5;
    --interactive-surface-hover: #444444;
    --critical-medium-default: #975031;
    --accent1-background-default: #DEB887;
    --accent2-background-default: #AD8888;
    --overlay-fill: rgb(0, 0, 0, 0.6);
    --resizer-background-default: rgb(255, 255, 255);
    --resizer-border-default: rgba(255, 255, 255, 0.5);
  }
}

*::-webkit-scrollbar {
  width: 12px;
  transition: opacity .3s ease-in-out;
  opacity: 0;
}

*::-webkit-scrollbar:hover {
  opacity: 1;
}

*::-webkit-scrollbar-track {
  background: var(--neutral-surface-default);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--neutral-medium-default);
  border-radius: 20px;
  border: 2px solid var(--neutral-surface-default);
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: var(--neutral-background-default);
}


/* Override svg colouring to match theme */
.icon-button path {
  fill: var(--interactive-medium-default) !important;
}
.icon-button:hover path {
  fill: var(--interactive-medium-hover) !important;
}