/* Add switchable theme vars for light/dark mode */
:root {
  --neutral-background-default: #F4F4F4;
  --neutral-surface-default: #f7f7f7;
  --neutral-surface-selected: #89b5f14f;
  --neutral-medium-default: #757575;
  --neutral-base-default: #AFAFAF;
  --neutral-heavy-default: #222226;
  --neutral-trim-default: #C0C0C0;
  --interactive-medium-default: #979797;
  --interactive-medium-hover: #979797;
  --interactive-medium-selected: #757575;
  --interactive-trim-default: #C5C5C5;
  --interactive-trim-selected: #C5C5C5;
  --interactive-surface-hover: #d3d3d3;
  --critical-medium-default: #975031;
  --accent1-background-default: #DEB887;
  --accent2-background-default: #AD8888;
  --overlay-fill: rgb(120, 120, 120, 0.5);
}

@media (prefers-color-scheme: dark) {
  :root {
    --neutral-background-default: #111111;
    --neutral-surface-default: #222326; /*f7f7f7*/
    --neutral-surface-selected: #222222;
    --neutral-medium-default: #7E7E7E;
    --neutral-base-default: #2E2E2E;
    --neutral-heavy-default: #AAAAAA;
    --neutral-trim-default: #333333;
    --overlay-fill: rgb(0, 0, 0, 0.5);
    --interactive-medium-default: #666666;
    --interactive-medium-hover: #888888;
    --interactive-medium-selected: #757575;
    --interactive-trim-default: #555555;
    --interactive-trim-selected: #C5C5C5;
    --interactive-surface-hover: #444444;
    --critical-medium-default: #975031;
    --accent1-background-default: #DEB887;
    --accent2-background-default: #AD8888;
    --overlay-fill: rgb(120, 120, 120, 0.5);
  }
}


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: var(--neutral-background-default);
}


.icon-button path{
  fill: var(--interactive-medium-default);
}
.icon-button:hover path{
  fill: var(--interactive-medium-hover);
}