.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: monospace;
    color: rgb(117, 117, 117);
}

.modal-content > .message-container > .message {
    font-weight: bolder;
    font-size: 18px;
}

.modal-content > .message-container > .supporting {
    font-style: italic;
}

.modal-content > .button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.get-name-modal-error-message {
    font-style: italic;
    color: rgb(151, 80, 49);
    height: 1em;
}

.modal-content table {
    width: 100%;
    border-collapse: collapse;
}

.modal-content td {
    padding: 5px;
    border: 1px solid #ccc;
}