.project-activity-container {
  /* padding: 8px 60px 10px 0; */
  background-color: #F4F4F4;
  /* overflow: scroll; */
}

.project-activity-update-modal-section-header {
  font-weight: bolder;
  font-size: 16px;
}

.project-activity-update-modal-section-message {
  font-style: italic;
}