.repl-activity {
    display: flex;
}

.repl-container {
    flex-grow: 1 1 auto;
    background-color: green;
}

.repl-tools {
    flex: 0 0 auto;
    /* background-color: rgb(175, 175, 175); */
    /* height: 20px; */
}

.repl-connect-container {
    color: #979797;
    background-color: #F9F9F9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.repl-connect-content {
    flex: 0 0 auto;
    /* padding: 20px; */
    /* background-color: #EBEBEB; */
}

.repl-connect-content > .message {
    /* color: #979797; */
    font-style: italic;
    text-transform: lowercase;
}

.repl-connect-content > .component {
    /* color: #979797; */
    font-style: italic;
    font-weight: bold;
}

.repl-switcher-tabs {
    display: flex;
    align-items: center;
    /* padding-left: 5px; */
    /* background-color: #F4F4F4; */
    /* font-family: monospace; */
    /* color: #979797; */
    /* border-bottom: 1px solid #F1F1F1; */

}

.repl-switcher-tab {
    flex: 0 0 auto;
    /* margin-right: 6px; */
    margin-left: 12px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-family: monospace;
    color: #979797;
    border-bottom: 1px solid #F4F4F4;  /* hack: match switcher background */
}

.repl-active-tab {
    /* color: red; */
    border-bottom: 1px solid rgb(197, 197, 197);
}