.catalog-list-container {
  display: flex;
  flex-direction: column;
}

.catalog-list {
  width: 100%;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.catalog-list li {
  margin: 0 0 8px 0;
}

.catalog-refresh-all-button {
  /*color: rgb(150, 150, 150);*/
  color: var(--interactive-medium-default);
  /*background: rgb(249, 249, 249);*/
  background: var(--interactive-surface-default);
  padding: 15px;
  width: 95%;
  margin-right: 8px;
  margin-bottom: 5px;
  align-self: center;
}