.catalog-container {
  display: flex;
  flex-direction: column;
}

.catalog-name {
  font-family: monospace;
  font-size: 100%;
  text-transform: lowercase;
  padding: 2px 10px 8px 15px;
  color: hsl(0, 0%, 59%);
  border-bottom: 1px solid var(--neutral-trim-default);
  margin-right: 2em;
}

.catalog-entries {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.catalog-installed-label {
  font-family: monospace;
  width: 10em;
  text-align: center;
  color: var(--interactive-medium-disabled);
}