.catalog-list-container {
  display: flex;
  flex-direction: column;
}

.catalog-list {
  width: 100%;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.catalog-list li {
  margin: 0 0 8px 0;
}

.catalog-refresh-all-button {
  color: var(--interactive-medium-default);
  background: var(--interactive-background-base);
  padding: 15px;
  width: 95%;
  margin-right: 8px;
  margin-bottom: 5px;
  align-self: center;
}