.project-control {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: var(--interactive-background-base);
  margin-left: 2em;
  margin-right: 2em;
  align-items: center;
}

.project-summary-container {
  flex-grow: 1;
}

.project-control-container {
  display: flex;
  align-items: stretch;
}
