.project-control {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #F9F9F9;
  border-left: 2px solid #979797;
  align-items: center;
}

.project-summary-container {
  flex-grow: 1;
}

.project-control-container {
  display: flex;
  align-items: stretch;
}
