.project-list-container {
  display: flex;
  flex-direction: column;
}

.project-listing {
  width: 100%;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.project-listing li {
  margin: 0 0 4px 0;
}

.project-update-all-button {
  color: var(--interactive-medium-default);
  background: var(--interactive-surface-default);
  padding: 15px;
  width: 95%;
  margin-right: 8px;
  margin-bottom: 5px;
  align-self: center;
}