.project-info {
  padding: 6px 8px;
  display: flex;
  flex-direction: column;
  font-family: monospace;
  background-color: var(--neutral-surface-highlighted);
  color: var(--neutral-medium-default);
}

.project-info-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project-info-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2px;
}

.project-info-name {
  font-weight: bold;
  color: var(--interactive-medium-default);
  /* font-size: 110%; */
}

.project-info-name-link, .project-info-name-link:visited {
  font-weight: bold;
  text-decoration: none;
  color: var(--interactive-medium-default);
}

.project-info-name-link:hover {
  color: var(--interactive-medium-hover);
}

.project-info-description {
  margin-left: 0.75em;
  font-style: italic;
}

.project-info-version, .project-info-version:visited {
  font-weight: bolder;
  text-decoration: none;
  color: var(--interactive-medium-default);
  margin-right: 2px;
}

.project-info-version:hover {
  color: var(--interactive-medium-hover);
}
