.project-info {
  padding: 6px 8px;
  display: flex;
  flex-direction: column;
  font-family: monospace;
  /* background-color: #F9F9F9; */
  background-color: rgb(240, 240, 240);
  color: #979797;
}

.project-info-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project-info-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2px;
}

.project-info-name {
  font-weight: bold;
  /* font-size: 110%; */
}

.project-info-name-link, .project-info-name-link:visited {
  font-weight: bold;
  text-decoration: none;
  color: #979797;
}

.project-info-name-link:hover {
  color: hsl(0, 0%, 39%);
}

.project-info-description {
  margin-left: 0.75em;
  font-style: italic;
}

.project-info-version {
  font-weight: bolder;
  margin-right: 2px;
}