.switcher-tab-container {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
}

.switcher-tab {
  /* flex: 0 0 auto; */
  /* width: 14em; */
  /* margin-right: 18px; */
  /* margin-left: 4em; */
  /* padding-left: 0px; */
  /* padding-right: 0px; */
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-family: monospace;
  font-size: 100%;
  color: var(--interactive-medium-default);

  border-bottom: 1px solid var(--interactive-trim-default);

  text-align: center;

  /* the properties below are to match the file explorer header */
  height: 30px;
  width: 10em;
  margin-bottom: 8px;
  font-weight: bold;
  padding: 6px 12px;
}

.switcher-active-tab {
  color: var(--interactive-medium-selected);
  border-bottom: 1px solid var(--interactive-medium-selected);
}

.switcher-content-container {
  margin-top: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}