.switcher-tab-container {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
}

.switcher-tab {
  /* flex: 0 0 auto; */
  /* width: 14em; */
  /* margin-right: 18px; */
  /* margin-left: 4em; */
  /* padding-left: 0px; */
  /* padding-right: 0px; */
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-family: monospace;
  font-size: 100%;
  /* color: #979797; */
  color: rgb(117, 117, 117);

  /*border-bottom: 1px solid #F4F4F4;*/  /* hack: match switcher background */
  border-bottom: 1px solid rgb(230, 230, 230);


  /* the properties below are to match the file explorer header */
  height: 30px;
  width: 10em;
  margin-bottom: 8px;
  font-weight: bold;
  padding: 6px 12px;
  text-align: start;
}

.switcher-active-tab {
  border-bottom: 1px solid rgb(197, 197, 197);
}

.switcher-content-container {
  margin-top: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}