.text-button {
  background-color: transparent;
  background-repeat: no-repeat;
  color: var(--interactive-medium-default);
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;

  font-family: monospace;
  font-size: 100%;
  flex-grow: 1;

  width: 10em;
}

.text-button:hover {
  color: var(--interactive-medium-hover);
}

.text-button:disabled {
  color: var(--interactive-medium-disabled);
  cursor: not-allowed;
}